{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="split left">
    <h2 align="center">Enter Text or Use Mic</h2>
    <br>
    <form action="" method="post" align="left">
        {% csrf_token %}
        <input type="text" name="sen" class="mytext" id="speechToText" placeholder="">
        <button type="button" name="button" class="mic" onclick="record()">
            <img src="{% static 'mic3.png' %}" height="32px" width="38px" alt="Microphone">
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="submit" class="submit">
    </form>
    <br>
    <table cellspacing="20px">
        <tr>
            <td class="td">The text that you entered is:</td>
            <td class="td">{{ text }}</td>
        </tr>
        <tr>
            <td class="td">Key words in sentence:</td>
            <td class="td">
                <ul class="td" id="list" align="center">
                    {% for word in words %}
                    <li id="{{ forloop.counter0 }}" style="margin-right: 8px">{{ word }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
</div>

<div class="split right">
    <h2 align="center">Sign Language Animation</h2>
    <div style="text-align:center">
        <button class="submit" onclick="playPause()">Play/Pause</button>
        <video id="videoPlayer" width="600" height="350" preload="auto">
            Your browser does not support HTML5 video.
        </video>
    </div>
</div>

<script>
    //webkitSpeechRecognition API for speech-to-text conversion
    function record() {
        var recognition = new webkitSpeechRecognition();
        recognition.lang = 'en-IN';

        recognition.onresult = function(event) {
            document.getElementById('speechToText').value = event.results[0][0].transcript;
        }
        recognition.start();
    }

    function play() {
        var videoSource = [];
        var videos = document.getElementById("list").getElementsByTagName("li");
        for (var j = 0; j < videos.length; j++) {
            videoSource[j] = "{% static '' %}" + videos[j].innerHTML + ".mp4";
        }

        var i = 0; // define i
        var videoCount = videoSource.length;

        function videoPlay(videoNum) {
            var listItems = document.getElementById("list").getElementsByTagName("li");
            listItems[videoNum].style.color = "#09edc7";
            listItems[videoNum].style.fontSize = "xx-large";
            var videoPlayer = document.getElementById("videoPlayer");
            videoPlayer.setAttribute("src", videoSource[videoNum]);
            videoPlayer.load();
            videoPlayer.play();
        }

        document.getElementById('videoPlayer').addEventListener('ended', myHandler, false);
        var listItems = document.getElementById("list").getElementsByTagName("li");
        listItems[0].style.color = "#09edc7";
        listItems[0].style.fontSize = "xx-large";

        videoPlay(0); // play the first video

        function myHandler() {
            var listItems = document.getElementById("list").getElementsByTagName("li");
            if (i < videoCount) {
                listItems[i].style.color = "#feda6a";
                listItems[i].style.fontSize = "20px";
                i++;
                if (i < videoCount) {
                    videoPlay(i);
                } else {
                    document.getElementById("videoPlayer").pause();
                }
            }
        }
    }

    function playPause() {
        var videoPlayer = document.getElementById("videoPlayer");
        if (videoPlayer.paused) {
            play();
        } else {
            videoPlayer.pause();
        }
    }
</script>

{% endblock %}
